.data__container {
    width: 100%;
    padding: .250rem;
    background-color: $white-bcg;
}
.data__container-header {
    color: $text-black;
    text-transform: uppercase;
    text-align: center;
}
.station__container {
    width: 100%;
    margin-top: .500rem;
    padding: .250rem;
    background-color: $light-gray-bcg;
}
.station__container-header {
    color: $text-black;
    text-align: center;
    margin: .250rem 0;
}