html {
    font-family: $main-font-family;
    font-size: $main-font-size;
    font-weight: $font-thin;
    color: $text-white;
}
body {
    padding: .250rem;
    background-color: $gray-bcg;
}
.flex {
    display: flex;
}
.flex__wrap {
    flex-wrap: wrap;
}
.flex__column {
    flex-direction: column;
}
.flex__row {
    flex-direction: row;
}
.flex__justify-center {
    justify-content: center;
}
.flex__justcent-mob {
    @include for-phones-landscape {
        justify-content: center !important;
    }
    @include from-tablet-portrait {
        justify-content: center !important;
    }
}
.flex__justify-spacearound {
    justify-content: space-around;
}
.flex__justify-between {
    justify-content: space-between;
}
.flex__align-center {
    align-items: center;
}
.margin__btn-half {
    margin-bottom: .500rem;
}
.btn {
    margin: .500rem 0;
    padding: .500rem;
    background-color: transparent;
    text-transform: uppercase;
}
.btn__refresh {
    border: 1px solid $text-orange;
    color: $text-orange;
        @include from-sm-desktop {
            transition: all 0.3s ease;
            &:hover {
                background-color: $text-orange;
                color: $text-white;
            }
        }
}