<div class="data__container">
    <h1 class="data__container-header">
        index jakości powietrza w Opolu
    </h1>
    <div class="flex flex__row flex__wrap flex__justify-spacearound">
        <chabry-data></chabry-data>
        <pulaskiego-data></pulaskiego-data>
        <pileckiego-data></pileckiego-data>
        <solidarnosci-data></solidarnosci-data>
        <pasieka-data></pasieka-data>
        <nwk-data></nwk-data>
        <grudzice-data></grudzice-data>
    </div>
</div>
<div class="data__container">
    <h1 class="data__container-header">
        aktualna pogoda
    </h1>
    <weather-data></weather-data>
</div>