/**
 * +++ +++ VARIABLES for app +++ +++
 */
 /**
  * +++ +++ VARIABLES for app +++ +++
  */
  
  // +++ typography +++
  $main-font-family: 'Roboto', sans-serif;
  $main-font-size: 16px;
  $font-thin: 300;
  $font-bold: 500;

  // +++ text colors +++
  $text-black: #5e5e5e;
  $text-white: #fff;
  $text-orange: #ff3d00;

  // +++ colors +++
  $white-bcg: #fff;
  $gray-bcg: #d3d3d3;
  $light-gray-bcg: #e0e0e0;