<div class="weather__lastupdate">
  <h2 class="weather__lastupdate-header">
    ostatnia aktualizacja dla opole
  </h2>
  <p class="weather__lastupdate-content">2017-08-30 - 22:20:00</p>
  <button class="btn btn__refresh">odśwież dane</button>
</div>
<div class="flex flex__row flex__justify-spacearound">
  <div class="weather__current-condition">
    <i class="wi wi-day-cloudy"></i>
  </div>
  <div class="weather__current-temp">
    <span>99&deg;</span><span>C</span>
  </div>
</div>
<div>
  <h3 class="feels__temp-header">
    temperatura odczuwalna
  </h3>
  <div class="feels__temp-data">
    <span>99&deg;</span><span>C</span>
  </div>
</div>
<div>
  <h3 class="wind__dir-header">Wiatr</h3>
  <div class="flex flex__row flex__justify-spacearound flex__align-center">
    <div class="wind_dir-icon">
      <i class="wi wi-wind"></i>
      <p>NNE</p>
    </div>
    <div class="wind__dir-units">
      <span>199</span><span class="wind__units">km/h</span>
    </div>
  </div>
</div>