<div class="weather__lastupdate">
  <h2 class="weather__lastupdate-header">
    ostatnia aktualizacja dla {{ weatherData.location }}
  </h2>
  <p class="weather__lastupdate-content">{{ weatherData.lastUpdated | slice:0:10 }} - {{ weatherData.lastUpdated | slice:11:16 }}</p>
  <button (click)="onRefresh()" class="btn btn__refresh">odśwież dane</button>
</div>
<div class="current__container flex flex__row flex__justify-spacearound container__border-top flex__justcent-mob">
  <div class="weather__current-condition">
    <i class="wi" [ngClass]="checkStatus()" *ngIf="dataLoaded"></i>
  </div>
  <div class="weather__current-temp">
    <span>{{ weatherData.currTemp }}&deg;</span><span>C</span>
  </div>
</div>
<div class="feelstemp__container container__border-bottom">
  <h3 class="feels__temp-header">
    temperatura odczuwalna
  </h3>
  <div class="feels__temp-data">
    <span>{{ weatherData.feelsTemp }}&deg;</span><span>C</span>
  </div>
</div>
<div class="wind__container container__border-bottom">
  <h3 class="wind__dir-header">Wiatr</h3>
  <div class="flex flex__row flex__justify-spacearound flex__justcent-mob flex__align-center">
    <div class="wind_dir-icon">
      <i class="wi wi-wind" [ngClass]="checkWindDir()" *ngIf="dataLoaded"></i>
      <p>{{ weatherData.windString }}</p>
    </div>
    <div class="wind__dir-units">
      <span>{{ weatherData.windSpeed }}</span> <span class="wind__units">km/h</span>
    </div>
  </div>
</div>
<div class="moredata__container flex flex__column">
  <div class="moredata__container-top flex flex__row flex__justify-between">
    <div class="moredata__data-container">
      <h3>Opad</h3>
      <div class="moredata__data">
        <span>{{ weatherData.precip }} mm</span>
      </div>
    </div>
    <div class="moredata__data-container">
      <h3>Wilgotność</h3>
      <div class="moredata__data">
        <span>{{ weatherData.humidity }}%</span>
      </div>
    </div>
  </div>
  <div class="flex flex__row flex__justify-between">
    <div class="moredata__data-container">
      <h3>Ciśnienie</h3>
      <div class="moredata__data">
        <span>{{ weatherData.pressure }} mb</span>
      </div>
    </div>
    <div class="moredata__data-container">
      <h3>Zachmurzenie</h3>
      <div class="moredata__data">
        <span>{{ weatherData.cloud }}%</span>
      </div>
    </div>
  </div>
</div>